<!--<form action="/action_page.php" style="text-align:center;">-->
<!--  <div class="form-group">-->
<!--    <label for="firstName">First Name:</label>-->
<!--    <input type="text" id="firstName">-->
<!--    <label for="lastName">Last name:</label>-->
<!--    <input type="text" id="lastName">-->
<!--    <label for="firstName">Patient ID:</label>-->
<!--    <input type="text" id="patientId">-->
<!--  </div>-->
<!--  <div class="checkbox">-->
<!--    <label><input type="checkbox">Prescribe</label>-->
<!--  </div>-->
<!--  <button type="submit" class="btn btn-primary">Search</button>-->
<!--</form>-->

<!--<table class="table">-->
<!--  <tbody>-->
<!--  <tr>-->
<!--    <td>-->
<!--      <label for="firstName">First Name:</label>-->
<!--    </td>-->
<!--    <td>-->
<!--      <input type="text" id="firstName">-->
<!--    </td>-->
<!--&lt;!&ndash;  </tr>&ndash;&gt;-->
<!--&lt;!&ndash;  <tr>&ndash;&gt;-->
<!--    <td>-->
<!--      <label for="lastName">Last name:</label>-->
<!--    </td>-->
<!--    <td>-->
<!--      <input type="text" id="lastName">-->
<!--    </td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td>-->
<!--      <label for="patientId">Patient ID:</label>-->
<!--    </td>-->
<!--    <td>-->
<!--      <input type="text" id="patientId">-->
<!--    </td>-->
<!--  </tr>-->
<!--  </tbody>-->
<!--</table>-->

<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <label for="firstName">First Name:</label>
    </div>
    <div class="col-sm-3">
      <input type="text" id="firstName">
    </div>
    <div class="col-sm-2">
      <label for="lastName">Last name:</label>
    </div>
    <div class="col-sm-4">
      <input type="text" id="lastName">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <label for="patientId">Patient ID:</label>
    </div>
    <div class="col-sm-4">
      <input type="text" id="patientId">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label>
        <input type="checkbox"> Prescribe
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col">
<!--      <a routerLink="print" class="nav-link">-->
        <button type="submit" class="btn btn-primary" (click)="searchPatientData()" >Search</button>
<!--      </a>-->
    </div>
  </div>
</div>

