<div>

  <app-patient-header></app-patient-header>

  <br>

  <div id="loadin">
    <app-loader-spin></app-loader-spin>
  </div>

  <div id="appointmentHeader" class=" container ">
    <table id="appointment" class="table">
      <thead>
      <tr>
        <th>Doctor Name</th>
        <th>Patient Name</th>
        <th>Appointment Date</th>
        <th>Start Time</th>
        <th>End Time</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let appointment of appointmentData">
        <td
          >{{appointment?.doctor?.doctorName}} </td>
        <td

        >{{appointment?.patient?.firstName}} </td>
        <td >{{appointment?.appointmentDate}} </td>
        <td>{{appointment?.startTime}} </td>
        <td >{{appointment?.endTime}} </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
