<div>

<app-patient-header></app-patient-header>

<br>

  <div id="loadin">
    <app-loader-spin></app-loader-spin>
  </div>

  <div id="mainVisitHeader" class=" container ">
    <div id="newVisit">
    <label style="color: red"> {{error}}</label>

        <!--      <a routerLink="print" class="nav-link">-->
      <br>
      <div *ngIf="!newVisitFlag">
        <span>Please Click to Add a new Visit - </span>

        <button type="submit" class="btn btn-primary" (click)="addVisit()">New Visit</button>
        <!--      </a>-->
      </div>
  </div>

  <div  *ngIf="error=='' && !newVisitFlag">
    <table id="visitHeader">
      <tr>
        <td>Name : {{patientVisitData[0].patientEntity.firstName}}</td>
        <td>DOB :  {{patientVisitData[0].patientEntity.dateOfBirth}}</td>
        <td>Patient Id : {{patientVisitData[0].patientEntity.id}}</td>
      </tr>

    </table>
<br>



    <table id="visits" class="table">
      <thead>
      <tr>
        <th>Visit Date</th>
        <th>Symptoms</th>
        <th>Prescription</th>
        <th>FollowUp Date</th>
        <th>Notes</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let visit of patientVisitData">
        <td>{{visit.visitDate}} </td>
        <td>{{visit.symptoms}} </td>
        <td>{{visit.prescription}} </td>
        <td >{{visit.followUpDate}} </td>
        <td>{{visit.notes}} </td>
      </tr>

      </tbody>
    </table>
  </div>

    <div *ngIf="newVisitFlag && error==''">
      <form [formGroup]="visitFormData"
            (ngSubmit)="onSubmitVisit(visitFormData.value)" novalidate>
        <div>
          <label>Symptoms:
            <textarea type="text"  formControlName="symptoms" class="form-control" rows="5" cols="50" placeholder="Fever,Cold ,Nausea etc..."></textarea>
          </label>
        </div>

        <div>
          <label>Prescription:
            <textarea type="text"  formControlName="prescription"  class="form-control" rows="5" cols="50" placeholder="paracetamol, ibuprofen etc"></textarea>
          </label>
        </div>

        <div>
          <label>Followup Days:
            <input type="text" formControlName="followUpDays" class="form-control" (keypress)="patientHelper.numberOnly($event)" placeholder="7">
          </label>
        </div>

        <div>
          <label>Notes:
            <textarea type="text" formControlName="notes" class="form-control"  rows="3" cols="50" placeholder="Additiona Notes - Blood work,X-Ray needed, Referral to a speaciaist etc">
            </textarea>
          </label>
        </div>

        <button type="submit"
                [disabled]="visitFormData.pristine || visitFormData.invalid" class="btn btn-success">
          Submit
        </button>

      </form>
  </div>
</div>

</div>
