#visits {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#visits td, #visits th {
  border: 1px solid #ddd;
  padding: 8px;
}

#visits tr:nth-child(even){background-color: #f2f2f2;}

#visits tr:hover {background-color: #ddd;}

#visits th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #490f198a;
  color: white;
}

#visitHeader{
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

#visitHeader  td {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  padding: 8px;

}

#mainVisitHeader{
  /*border: 7px solid*/
}


#newVisit {


}

.btn-success.disabled, .btn-success:disabled {
  color: #fff;
  background-color: #a0706d;
  border-color: #a0706d;
}

.btn-link {
  font-weight: 400;
  color: #55245E;
  text-decoration: none;
}

.btn-link:hover {
  color: #0056b3;
  text-decoration: underline;
}



textarea :invalid {
  border: 2px dashed red;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 110%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
