<div>

  <app-patient-header></app-patient-header>

  <div id="loadin">
    <app-loader-spin></app-loader-spin>
  </div>


  <div class="container">
    <!--<div  style="background-color: mintcream">-->
    <!--<div style="text-align:center" xmlns="http://www.w3.org/1999/html">-->
    <!--<h1>-->
    <!--{{ title }}!-->
    <!--</h1>-->
    <!--<img width="300" alt="Angular Logo" src="../assets/patient-image.jpeg">-->
    <!--</div>-->

    <div *ngIf="show && processing"> Registration Completed! Patient Id : {{patientIdCreated}}
      <button (click)="addNewPatientAgain()"> Click here to Add a new Patient</button>
    </div>

    <div *ngIf="error !== '' ">
      <p style="color: red"> {{error}} </p>
    </div>
    <div *ngIf="!show && error === '' && !processing">
      <form [formGroup]="patientFormData" (ngSubmit)="onSubmit(patientFormData.value)" novalidate>

        <div>
          <label>
           First Name:

            <input id="firstName" type="text" formControlName="firstName" class="form-control" required="" placeholder="Jon">

            <div *ngIf="patientFormData.controls['firstName'].invalid && (patientFormData.controls['firstName'].dirty
             || patientFormData.controls['firstName'].touched)" class="alert alert-danger">
              <div *ngIf="patientFormData.controls['firstName'].errors.required">
                First Name is required.
              </div>
            </div>
          </label>
        </div>
        <!--<div *ngIf="firstName.errors.required"> First Name is required</div>-->
        <div>
          <label>
            Last Name:
            <input type="text" formControlName="lastName" class="form-control" placeholder="Doe">
          </label>
        </div>

        <div></div>
        <div>
          <label>
            Age:
            <input type="text" (keypress)="patientHelper.numberOnly($event)" formControlName="age" required class="form-control" placeholder="33" maxlength="3">
          </label>
        </div>

        <div>
          <label>
            Date Of Birth:
            <div class="form-row">
              <div class="form-group  col-4">

                <select name="birthDate" id="birthDate" formControlName="birthDate" class="form-control" [selectedIndex]="totalDatesOfBirth[0]" required>

                  <option *ngFor="let dd of totalDatesOfBirth" [value]="dd" >{{dd}}</option>
                </select>

              </div>
              <div class="form-group  col-4">


                <select name="birthMonth" id="birthMonth" formControlName="birthMonth" class="form-control" [selectedIndex]="totalMonthOfBirth[0]" required>

                  <option *ngFor="let mm of totalMonthOfBirth" [value]="mm">{{mm}}</option>
                </select>
              </div>
                <div class="form-group  col-4">
                  <select  id="birthYear" formControlName="birthYear" class="form-control" [selectedIndex]="totalDatesOfYear[0]" required> // value is an object
                    <option *ngFor="let obj of totalDatesOfYear" value="{{obj}}">{{obj}}</option>
                  </select>


                </div>
              </div>
          </label>

          <!--<div *ngIf="patientFormData.controls['firstName'].invalid && (patientFormData.controls['firstName'].dirty-->
             <!--|| patientFormData.controls['firstName'].touched)" class="alert alert-danger">-->
            <!--<div *ngIf="patientFormData.controls['firstName'].errors.required">-->
              <!--First Name is required.-->
            <!--</div>-->

          <div *ngIf="patientFormData.controls['birthDate'].invalid && (patientFormData.controls['birthDate'].dirty
            && patientFormData.controls['birthMonth'].invalid && patientFormData.controls['birthMonth'].dirty
            && patientFormData.controls['birthYear'].invalid && patientFormData.controls['birthYear'].dirty
             || patientFormData.controls['birthDate'].touched
             ||  patientFormData.controls['birthMonth'].touched
             ||  patientFormData.controls['birthYear'].touched)" class="alert alert-danger">
            <div *ngIf="patientFormData.controls['birthDate'].errors.required
                        || patientFormData.controls['birthMonth'].errors.required
                          || patientFormData.controls['birthYear'].errors.required">
             Date Of Birth is required!
            </div>
          </div>

        </div>

        <div>
          <label>
            <P>Gender:</P>
            <input type="radio" id="male" formControlName="gender" value="male">
            <label for="male">Male</label><br>
            <input type="radio" id="female" formControlName="gender" value="female">
            <label for="female">Female</label><br>
            <input type="radio" id="other" formControlName="gender" value="other">
            <label for="other">Other</label>
          </label>
        </div>

        <div>
          <label>
            Address:
            <input type="text" formControlName="address" class="form-control" placeholder="1212 Rajendra Nagar" >
          </label>
        </div>

        <div>
          <label>
            City:
            <input type="text" formControlName="city" class="form-control" placeholder="Jaipur">
          </label>
        </div>

        <div>
          <label>
            State:
            <input type="text" formControlName="state" class="form-control" placeholder="Rajashthan">
          </label>
        </div>

        <div>
          <label>
            ZipCode:
            <input type="text" formControlName="zipCode" (keypress)="patientHelper.numberOnly($event)" class="form-control" placeholder="302001" maxlength="10">
          </label>
        </div>

        <div>
          <label>
            Contact:
            <input type="text" formControlName="contact" (keypress)="patientHelper.numberOnly($event)" required class="form-control" maxlength="15" placeholder="919545864800">
          </label>
        </div>

        <div>
          <label>
            Emeregency Contact:
            <input type="text" formControlName="emergencyContact" (keypress)="patientHelper.numberOnly($event)" class="form-control" maxlength="15" placeholder="919545864800">
          </label>
        </div>

        <div>
          <label>
            Care of:
            <input type="text" formControlName="careOf" class="form-control" placeholder="Sri Ravi Jain">
          </label>
        </div>

        <div>
          <label>
            Email:
            <input type="email" formControlName="email" class="form-control" placeholder="abc@gmail.com">
          </label>
        </div>

        <div>
          <label>
            Personal Identification Type:
            <select name="personalIdType" id="personalIdType" formControlName="personalIdType" class="form-control">
              <option value="1"></option>
              <option value="2">Aadhar Card</option>
              <option value="3">Driving License</option>
              <option value="4">Passport</option>
              <option value="5">Voter Id</option>
              <option value="6">Pan Card</option>
            </select>
          </label>
        </div>

        <div>
          <label>
            Personal Identification:
            <input type="text" formControlName="personalId" class="form-control" placeholder="AT1234">
          </label>
        </div>

        <div>
          <label>
            Weight(Kg):
            <input type="text" formControlName="weight" (keypress)="patientHelper.numberOnly($event)" class="form-control" placeholder="72">
          </label>
        </div>

        <div>
          <label>
            Height(Centimeter):
            <input type="text" formControlName="height" class="form-control" placeholder="174" (keypress)="patientHelper.numberOnly($event)">
          </label>
        </div>


        <div>
          <label>
            Doctor Name:
            <select name="doctorName" id="doctorName" formControlName="doctorName" class="form-control">
              <option value="None"></option>
              <option value="Dr. Siddhart Jain">Dr. Siddhart Jain</option>
              <option value="Dr. Siddhart Jain">Dr. Poonam Jain</option>
            </select>
          </label>
        </div>




        <button type="submit"
                [disabled]="patientFormData.pristine || patientFormData.invalid" class="btn btn-success">
          Submit
        </button>
        <!--<button class="button" type="submit">Submit</button>-->

      </form>

      <!--</div>-->
    </div>
  </div>
</div>
