<div>

  <app-patient-header></app-patient-header>

  <div id="loadin">
    <app-loader-spin></app-loader-spin>
  </div>


  <div class="container">
    <!--<div  style="background-color: mintcream">-->
    <!--<div style="text-align:center" xmlns="http://www.w3.org/1999/html">-->
    <!--<h1>-->
    <!--{{ title }}!-->
    <!--</h1>-->
    <!--<img width="300" alt="Angular Logo" src="../assets/patient-image.jpeg">-->
    <!--</div>-->

    <div *ngIf="show && processing"> Registration Completed! Patient Id : {{patientIdCreated}}
      <button (click)="addNewPatientAgain()"> Click here to Add a new Patient</button>
    </div>

    <div *ngIf="error !== '' ">
      <p style="color: red"> {{error}} </p>
    </div>
    <div *ngIf="!show && error === '' && !processing">
      <form [formGroup]="patientFormData" (ngSubmit)="onSubmit(patientFormData.value)" novalidate>

        <div>
          <label>
           First Name:

            <input id="firstName" type="text" formControlName="firstName" class="form-control" required="">

            <div *ngIf="patientFormData.controls['firstName'].invalid && (patientFormData.controls['firstName'].dirty
             || patientFormData.controls['firstName'].touched)" class="alert alert-danger">
              <div *ngIf="patientFormData.controls['firstName'].errors.required">
                First Name is required.
              </div>
            </div>
          </label>
        </div>
        <!--<div *ngIf="firstName.errors.required"> First Name is required</div>-->
        <div>
          <label>
            Last Name:
            <input type="text" formControlName="lastName" class="form-control">
          </label>
        </div>

        <div></div>
        <div>
          <label>
            Age:
            <input type="text" (keypress)="numberOnly($event)" formControlName="age" required class="form-control">
          </label>
        </div>

        <div>
          <label>
            Date Of Birth:
            <input type="text"  formControlName="dateOfBirth" required class="form-control">
          </label>
        </div>

        <div>
          <label>
            <P>Gender:</P>
            <input type="radio" id="male" formControlName="gender" value="male">
            <label for="male">Male</label><br>
            <input type="radio" id="female" formControlName="gender" value="female">
            <label for="female">Female</label><br>
            <input type="radio" id="other" formControlName="gender" value="other">
            <label for="other">Other</label>
          </label>
        </div>

        <div>
          <label>
            Address:
            <input type="text" formControlName="address" class="form-control" >
          </label>
        </div>

        <div>
          <label>
            City:
            <input type="text" formControlName="city" class="form-control">
          </label>
        </div>

        <div>
          <label>
            State:
            <input type="text" formControlName="state" class="form-control">
          </label>
        </div>

        <div>
          <label>
            ZipCode:
            <input type="text" formControlName="zipCode" (keypress)="numberOnly($event)" class="form-control">
          </label>
        </div>

        <div>
          <label>
            Contact:
            <input type="text" formControlName="contact" (keypress)="numberOnly($event)" required class="form-control">
          </label>
        </div>

        <div>
          <label>
            Emeregency Contact:
            <input type="text" formControlName="emergencyContact" (keypress)="numberOnly($event)" class="form-control">
          </label>
        </div>

        <div>
          <label>
            Care of:
            <input type="text" formControlName="careOf" class="form-control">
          </label>
        </div>

        <div>
          <label>
            Email:
            <input type="email" formControlName="email" class="form-control">
          </label>
        </div>

        <div>
          <label>
            Personal Identification Type:
            <select name="personalIdType" id="personalIdType" formControlName="personalIdType" class="form-control">
              <option value="1">Aadhar Card</option>
              <option value="2">Driving License</option>
              <option value="3">Passport</option>
              <option value="4">Voter Id</option>
              <option value="5">Pan Card</option>
            </select>
          </label>
        </div>

        <div>
          <label>
            Personal Identification:
            <input type="text" formControlName="personalId" class="form-control">
          </label>
        </div>

        <div>
          <label>
            Weight:
            <input type="text" formControlName="weight" (keypress)="numberOnly($event)" class="form-control">
          </label>
        </div>

        <div>
          <label>
            Height:
            <input type="text" formControlName="height" class="form-control">
          </label>
        </div>


        <div>
          <label>
            Doctor Name:
            <input type="text" formControlName="doctorName" class="form-control">
          </label>
        </div>

        <!--<div>-->
          <!--<label>-->
            <!--<p> Symptoms: </p>-->
            <!--<textarea type="text" formControlName="symptoms" rows="4" cols="50" class="form-control"></textarea>-->
          <!--</label>-->
        <!--</div>-->


        <div>
          <!--<label>-->
            <!--<p> Prescription: </p>-->
            <!--<textarea  formControlName="prescription" rows="4" cols="50" class="form-control"></textarea>-->
          <!--</label>-->
        </div>

        <!--<div>-->
          <!--<label>-->
            <!--<p> Additional Notes: </p>-->
            <!--<textarea type="text" formControlName="additionalNotes" rows="4" cols="50" class="form-control"></textarea>-->
          <!--</label>-->
        <!--</div>-->


        <button type="submit"
                [disabled]="patientFormData.pristine || patientFormData.invalid" class="btn btn-success">
          Submit
        </button>
        <!--<button class="button" type="submit">Submit</button>-->

      </form>

      <!--</div>-->
    </div>
  </div>
</div>
