<div id="printPage" style="margin-top: 25%">
  <div class="container">
    <div class="row firstRow">
      <div class="col-sm-3">
        <label>Name:</label>
      </div>
      <div class="col-sm-3">
        {{searchData1.firstName + " " + searchData1.lastName}}
      </div>

    </div>

    <div class="row firstRow">
      <div class="col-sm-3">
        <label>Contact:</label>
      </div>
      <div class="col-sm-3">
        {{searchData1.contact}}
      </div>


      <div class="col-sm-3">
        <label>Age:</label>
      </div>
      <div class="col-sm-3">
        {{searchData1.age}}
      </div>

    </div>
    <div class="row secondRow">
      <div class="col-sm-3">
        <label>Height:</label>
      </div>
      <div class="col-sm-3">
        {{searchData1.height}}
      </div>
      <div class="col-sm-3">
        <label>Weight:</label>
      </div>
      <div class="col-sm-3">
        {{searchData1.weight}}
      </div>
    </div>

    <div class="row ">
      <div class="col-sm-3">
        <label>Consultant Doctor:</label>
      </div>
      <div class="col-sm-3">
        {{searchData1.doctorName}}
      </div>
      <div class="col-sm-3">
        <label>Reference Number:</label>
      </div>
      <div class="col-sm-3">
        {{searchData1.id}}
      </div>
    </div>

    <div class="row ">
      <div class="col-sm-3">
        <label>Gender:</label>
      </div>
      <div class="col-sm-3">
        {{searchData1.gender }}
      </div>
      <div class="col-sm-3">
        <label>Visit Date:</label>
      </div>
      <div class="col-sm-3">
        {{searchData1.updatedAt}}
      </div>
    </div>



  </div>
</div>


